
:root{
    --font-family:inter, sans-serif;
    --primary-color: #E4DE41;
    --primary-color-text: #4F3939;
    --secondary-color: #FFF9F7;
    --accent-color: #9A9EDD;
    --max-width: 1200px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li, a {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    color: var(--primary-color-text);

}
nav, .nav_content{
    height: 80px;
    width: 100%;
    background-color: #E4DE41;
    position: fixed;
    
}
.nav_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
    padding: 0px 20px;
}
ul li a{
    transition: all 0.3s ease 0s;
}
ul li a:hover{
    color:var(--secondary-color);
}

.logopic{
    cursor: pointer;
}

body{
    font-family: var(--font-family);
   
}


nav .checkbox, nav input {
    display: none;
}
nav .checkbox i {
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}

.hero_section{
    height: 100vh;
    position: inherit;
    background-image: url(images/background.png);
    background-color: #E4DE41;
    background-position: center;
    background-size:150vh, cover;
    background-repeat: no-repeat;
}
.section_container{
    height: 600px;
    padding: 22% 8%;
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    
}
.hello{
    font-size: 5rem;
    font-weight: 700;
    color: var(--primary-color-text);
    line-height: 5rem;
    padding-bottom: 1.5rem;
}
.description{
    font-size: 16px;
    color: var(--primary-color-text);
    line-height: 1.5rem;
    padding-bottom: 1.5rem;
}
.comm_now{
    cursor: pointer;
    color: var(--primary-color-text);
    font-size: 16px;
    padding: 1rem 7rem;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--primary-color-text);
    background-color: #E4DE41;
    transition: 0.3s ease 0s;
}
.comm_now:hover{

    background-color: var(--accent-color);
}
.what-i-do{
    background-image: url(images/wid_background2.png);
    height: 100vh;
    position: inherit;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.wid_container{
    float: right;
    height: 600px;
    padding: 22% 8%;
    margin-left: 20px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    
}
.wid{
    font-size: 3rem;
    font-weight: 700;
    color: var(--secondary-color);
    line-height: 3rem;
    padding-bottom: 1.5rem;
}
.wid_desc{
    font-size: 16px;
    color: var(--primary-color-text);
    line-height: 1.5rem;
    padding-bottom: 1.5rem;
}
.mystyle{
    
}
/*
.section_container{
    height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    padding-left: 5rem;
    padding-bottom: 8rem;
    display: grid;
    gap: 4rem;
}
    */
/* .intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hello{
    font-size: 6rem;
    font-weight: 700;
    line-height: 7rem;
    color: var(--primary-color-text);
    margin-bottom: 0.8rem;
    margin-top: 7rem;
}
.description {
    line-height: 1.5rem;
    font-size: 1.2rem;
    color: var(--primary-color-text);
    
} */
/*
.lemonimage{
    display: grid;
    place-items: center;
    position: absolute;
    float: right;
    margin-top: 4rem;
    margin-left: 30%;
}
.lemonimage img{
    width: min(30rem, 90%);
    
}
    */
/* 
.action button {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: 0;
    padding: 1rem 7rem;
    outline: #4F3939 ;
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.comm_now{
    
    color: #4F3939;
    border: 2px solid;
    border-color: #4F3939;
}
.comm_now:hover{
    background-color: #9A9EDD;
    color: #4F3939;
} */
